.appCards {
  &__wrapper {
    background-color: #263238;
    margin-bottom: 50px;

    & > div {
      display: flex;
      justify-content: center;
    }
    & ul {
      & ul {
        top: -64px
      }
    } 
  }
  &__header {
    margin-bottom: 50px;
    color: #fff;
    padding: 15px 0;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 10px;
  }
  &__cards {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    & a {
      margin-right: 0 !important;
    }
    &_p {
      margin-top: 20px;
    }
  }
}