.navigation {
  &__wrapper {
    position: sticky;
    top: 0;
    background-color: #263238;
    margin-bottom: 30px;
    z-index: 5;
    & > div {
      display: flex;
      justify-content: center;
      & > a {
        display: flex;
        align-items: center;
      }
    }
    & ul {
      & ul {
        top: -64px
      }
    } 
  }
}

