.card {
  &__wrapper {
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);

    & a {
      text-decoration: none;
      color: #263238;
    }
  }
}

.benefits {
  &__wrapper {
    margin-bottom: 50px;
  }
  &__header {
    color: #fff;
    padding: 15px 0;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 10px;
  }
  &__text {
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 20px;
  }
}
